<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
  <link rel="stylesheet" href="../css/about.css">


  

  <div class="navbar">

     <ul>
        <li><a href="../index.html">Login</a></li>
        <li><a class="active" href="about.html">About</a></li>
        <li><a href="Contact.html">Contact Us</a></li>

     </ul>

    </div>


    
  <div class="openmsg">

   <h1>
    Welcome to Good Chicken Vendors!

    We're a flock of passionate chicken enthusiasts(Pun intended) dedicated to bringing you the freshest,
     most fantastic chickens around! Our farm is committed to raising happy, 
     healthy chickens that are sure to delight your taste buds.


   </h1>
  </div>


</head>
<body>
 
 
  <div class="endmsg">
  <footer>&copy; Good chicken vendors</footer>
 


</div>

</body>
</html>