 body{
  
   background-image: url(10.jpg); 
   background-repeat: none;
   background-size: cover; 
   


}

 .header{

width: 100%;
background-color: black;
display: flex;
opacity: 0.45;



 }


 .header ul li{

    
    list-style: none;
    text-align: center;
    float: left;
 }




     .header ul li a{

        text-transform: uppercase;
        color: #f1f1f1;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 200;
        padding: 20px;
        text-decoration: none;
        transition: ease-out 0.2s;
        transition: all ease-in 0.2 s;
        


     }
     




         .header ul li a:hover{
            background-color: darkgray;
            padding: 25px;

            
            
         }


      

         .header li a .tooltiptext {
            visibility: hidden;
            font-size: 15px;
            
    
            
         }

         .header li a:hover .tooltiptext{
            visibility: visible;
         }

         .header ul li a:hover .fa-right-from-bracket{
            visibility: hidden;

         }

         .catalog{
           
            margin-top: 50px;
            margin-left: 110px;
            width: 250px;
            height: 250px;
            border: 40px;
            border-radius: 50%;
            background-image: url(9.jpg);
            background-size: cover;
            padding: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         }

         .catalog p{
            position: relative;
            top: 250px;
            font-size: larger;
            font-weight: 1000;
            color: black;
            text-align: center;
            border: 20px;
            border-color: aqua;
            background-color: darkgray;
            opacity: 0.7;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         }
